@font-face {
    font-family: 'Codec';
    src: url(../fonts/Codec-Cold-Light-trial.woff);
}
@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand-Regular.woff);
}


body {
    background-color: black;
    font-family: 'Codec';
}

* {
    margin: 0px;
    padding: 0px;
}
.titulo {
float: left;
padding: 15px 60px 15px 110px;
background: #0B0B0B;
}

#logo {
    display: block;
    text-decoration: none;
    color: #5e17eb;
    font-family: 'Shrikhand';
    font-size: 23.1px;
    margin: 0px;
    font-weight: 200;
}

#logo:hover {
    color: white;
}

ul#icones {
    list-style: none;
    background: #0B0B0B;
    display: flex;
}

ul#icones li {
    padding: 0px 15px;
    display: flex;

}

ul#icones a{
    display: block;
    padding: 0px 2em;
    line-height: 4em;
    text-decoration: none;
    color: #5e17eb;
    font-family: 'Codec';
}

ul#icones a:hover {
    color: white;
    background-color:#5e17eb;
}


ul#lateral {
    list-style: none;
    background: black;
}

ul#lateral li {
    padding-left: 15px;

}

ul#lateral a{
    line-height: 2.5em;
    text-decoration: none;
    color: #5e17eb;
    font-family: 'Codec';
}

ul#lateral a:hover {
    color: white;
    padding: 0px;
}

h2#plataformas {
    background: #0B0B0B;
    color: #5e17eb;
    padding: 10px 15px;
}

h2#notificar {
    background-color: #0B0B0B;
    color: #5e17eb;
    padding: 10px 15px;
}

p#info {
    color: #5e17eb;
    font-family: 'Codec';
    padding: 10px 15px;
}

div label {
    color: #5e17eb;
    font-family: 'Codec';
    padding-left: 15px;
    padding-top: 10px;
}

div input {
    background-color: #0B0B0B;
    color: #5e17eb;
    display: block;
    margin: 5px 0px 5px 15px;
    padding: 3px 30px 3px 5px;
    border: none;
}

div input:hover {
    background-color: #0B0B0B;
    color: #5e17eb;
    border: none;
    border: 2px solid #5e17eb;
    border-radius: 4px;
    box-sizing: border-box;
}

legend {
    color: #5e17eb;
    font-family: 'Codec';
    padding-left: 15px;
    padding-top: 5px;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px  #0B0B0B inset;
    -webkit-text-fill-color: #5e17eb;
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border: 2px solid #5e17eb;
    border-radius: 4px;
    box-sizing: border-box;
}


.submit {
    background-color: #0B0B0B;
    color: #5e17eb;
    font-weight: 100;
    font-size: 16px;
    padding: 4px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: white;
    background-color: #5e17eb;
}

.barraLateral {
    clear: both;
    background: black;
    float: left;
    width: 230px;
    margin-top: 6em;
    margin-left: 6em;
    color: white;
    }

.conteudos {
    border: 1px solid blue;
    float: left;
    color: white;
    margin-right: 6em;
    
}

.conteudo1 {
    border: 1px solid purple;
    float: left;
    width: 300px;
    padding: 0px 0px 40px 120px;
    color: white;
}

.conteudo2 {
    border: 1px solid yellow;
    float: right;
    width: 300px;
    padding: 0px 0px 40px 0px;
    color: white;
}
.rodape {
    background: #0B0B0B;
    text-align: center;
    margin: 0px;
    padding: 5px;
    clear: both;
    color: white;
   margin-top: 1000px;


}

.teste {
border: 1px solid red;
}