/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Railey';
    src: url(../fonts/Railey-PersonalUse.woff);
}

@font-face {
    font-family: 'Ques';
    src: url(../fonts/Questrial-Regular.woff);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eaf6ff;
}

header {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dcfff), to(#eaf6ff));
    background: -o-linear-gradient(top, #8dcfff, #eaf6ff);
    background: linear-gradient(to bottom, #8dcfff, #eaf6ff);
}

.title {
    left: 30px;
    font-family: 'Railey';
    font-size: 70px;
    color: #3c3c3c;
    text-decoration: none;
    padding: 20px 20px 20px 40px;
}

#menuH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-right: 70px;
}

.menuO {
    padding: 30px;
    text-decoration: none;
    color: #3c3c3c;
    font-family: 'Railey';
    font-size: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menuO:hover {
    text-decoration: none;
    color: #cce9ff;
}

article {
    padding: 0px 0px 0px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#quad {
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f9ff), to(#cce9ff));
    background: -o-linear-gradient(top, #f1f9ff, #cce9ff);
    background: linear-gradient(to bottom, #f1f9ff, #cce9ff);
    color: #3c3c3c;
    font-family: 'Railey';
    font-size: 50px;
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: 0px 80px 0px 35px;
    text-align: center;
}

#fr {
    font-size: 70px;
    text-align: center;
    padding: 40px 0px;
    font-weight: 100;
}

p {
    padding: 0px 60px;
}

.content {
    background: #cce9ff;
    width: 1792px;
    margin-top: 30px;
    max-height: 1850px;
}

.lateral {
    background: #cce9ff;
    width: 500px;
    margin-top: 30px;
    margin-left: 35px;
    padding: 30px;
    color: #3c3c3c;
    font-family: 'Railey';
    font-size: 50px;
}

#atr {
    font-size: 70px;
    text-align: center;
    font-weight: 100;
}

.atrImg {
    width: 450px;
    height: 450px;
    margin-left: 25px;
    padding-bottom: 60px;
}

.conteudoH {
    font-family: 'Ques';
    color: #3c3c3c;
    font-size: 30px;
    padding-bottom: 20px;
}

#inicio {
    font-family: 'Ques';
    color: #3c3c3c;
    font-size: 30px;
    padding: 30px 60px;
}

#praca {
    width: 94.5em;
    padding: 30px 0px 30px 140px;
}

#help {
    background: #cce9ff;
    width: 2267px;
    margin-top: 30px;
    padding: 30px 60px;
    color: #3c3c3c;
    font-family: 'Ques';
    font-size: 40px;
    margin-bottom: 70px;
    
}

#nm {
    background-color: #eaf6ff;
    border: none;
    margin-left: 4px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}

#em {
    background-color: #eaf6ff;
    border: none;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}

#txt {
    margin-bottom: 40px;
    cursor: pointer;
    
}

#dc {
    height: 40px;
    width: 558px;
    background-color: #eaf6ff;
    border: none;
    max-width: 558px;
    max-height: 200px;
    min-width: 558px;
    border-radius: 5px;
    min-height: 40px;
    padding-left: 5px;
    }

#sub {
    margin-top: 25px;
    color: #3c3c3c;
    background-color: #eaf6ff;
    border:none;
    padding: 3px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left bottom, left top, from(#8dcfff), to(#eaf6ff));
    background: -o-linear-gradient(bottom, #8dcfff, #eaf6ff);
    background: linear-gradient(to top, #8dcfff, #eaf6ff);
    padding-left: 1107px;
    font-family: 'Ques';
    color: #3c3c3c;
    font-size: 25px;
    margin-top: auto;
    padding-top: 40px;
}



