@font-face {
    font-family: 'Railey';
    src: url(../fonts/Railey-PersonalUse.woff);
}

@font-face {
    font-family: 'Mont';
    src: url(../fonts/FontsFree-Net-Montserrat-SemiBold.woff);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffd8b4;
}

header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #cd7c3a, #ffd8b4)
}

.title {
    left: 30px;
    font-family: 'Railey';
    font-size: 70px;
    color: #6b3d00;
    text-decoration: none;
    padding: 20px 20px 20px 40px;
}

#menuH {
    display: flex;
    list-style: none;
    padding-right: 70px;
}

.menuO {
    padding: 30px;
    text-decoration: none;
    color: #6b3d00;
    font-family: 'Railey';
    font-size: 50px;
    display: flex;
}

.menuO:hover {
    text-decoration: none;
    color: white;
}

article {
    padding: 0px 0px 0px 80px;
    display: flex;
}

#quad {
    background: linear-gradient(to bottom, #fff0c9, #ffcea7);
    color: #6b3d00;
    font-family: 'Railey';
    font-size: 50px;
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: 0px 80px 0px 35px;
    text-align: center;
}

#fr {
    font-size: 70px;
    text-align: center;
    padding: 40px 0px;
    font-weight: 100;
}

p {
    padding: 0px 60px;
}

.content {
    background: #ffcea7;
    width: 1792px;
    margin-top: 30px;
}

.lateral {
    background: #ffcea7;
    width: 500px;
    margin-top: 30px;
    margin-left: 35px;
    padding: 30px;
    color: #6b3d00;
    font-family: 'Railey';
    font-size: 50px;
}

#atr {
    font-size: 70px;
    text-align: center;
    font-weight: 100;
}

.atrImg {
    width: 450px;
    height: 450px;
    margin-left: 25px;
}





